@media (max-width: 1600px) {
    .sm-dt-hide { display: none !important; }
    .sm-dt-show { display: block !important; }
    .header .nav-main { width: 30%; }
    .slider { float: none; width: 100%; }
    .last-news { float: none; display: inline-block; width: 100%; margin-top: 20px; }
    .last-news .item { border-bottom: none; border-right: 1px solid #c7dce3; width: 50%; float: left; padding: 5px 20px 5px 3px; }
    .last-news .item:last-child { border-right: none; padding: 5px 3px 5px 20px; border-left: 1px solid #c7dce3; margin-left: -1px; }
    .nav-main li { width: 50%; }
    .nav-main li.compare { margin-left: 0; }
    .header .nav-auth .nav { width: 90%; }
    .nav-auth li.miniLogo { margin-right: 13px; }
    .check-status { width: 100%; float: none; display: inline-block; margin-top: 20px; }
    .check-status h4 { float: left; width: 33%; margin-top: 7px; margin-bottom: 0; }
    .check-status form { width: 66%; float: right; }
    .check-status .field { float: left; width: 49%; clear: none; }
    .check-status .field:last-child { float: right; }
}
@media (max-width: 1420px) {
    .contentPlace.products .product-items.grid .item { width: 24%; }
    .contentPlace.products .product-items.grid .item:nth-child(5n+1) { clear: none; }
    .contentPlace.products .product-items.grid .item:nth-child(5n+5) { margin-right: 1%; }
    .carouselBlock .owl-controls .owl-prev { left: -2%; }
    .carouselBlock .owl-controls .owl-next { right: -2%; }
}
@media (max-width: 1200px) {
    .leftPanel { width: 270px; }
    .rightPanel { width: calc(100% - 270px); }
    .nav-service > .nav > li { padding: 0 5%; }
    .header .miniSearch { width: 24%; }
    .header .nav-main { width: 29%; }
    .main .information .tabs-text .field { width: 100%; }

    .compare-list .compare-group-title { left: -285px; width: 285px; }
    .compare-list .compare-group-title h3, .compare-list .compare-group-title h4 { padding-left: 15px; }
    .compare-list .compare-group-title .prod-title { left: 270px; }
}



/* TABLET RESOLUTION */
@media (max-width: 1099px) {
    .tb-hide { display: none !important; }
    .tb-show { display: block !important; }
    .container { width: 96%; max-width: 768px; margin: 0 2%; }

    .leftPanel { width: 230px; }
    .rightPanel { width: calc(100% - 230px); }

    .mainButtons a { width: 100%; }
    .mainButtons a.store { margin-bottom: 20px; }

    .header .container { margin: 0 auto; }
    .header .nav-auth { width: auto; min-width: 47px; }
    .header .miniSearch { width: 26%; margin-right: 0; margin-left: 1%; }
    .header .nav-main { width: 33%; }
    .header .miniContacts { min-width: 165px; font-size: 21px; float: left; margin-left: 3%; }

    .header .miniBasket { top: 39px; }

    .header .mobileMenu { display: block; float: right; width: 38px; height: 28px; position: relative; margin-top: 2px; margin-right: 5px; }
    .header .mobileMenu .toggle { display: block; width: 100%; height: 28px; line-height: 0; padding: 12px 0;
        transition: all 0.3s;
    }
    .header .mobileMenu .toggle span { display: block; height: 4px; background: #fff; }
    .header .mobileMenu .toggle:before, .header .mobileMenu .toggle:after { content: ""; display: block; width: 100%; height: 4px; position: relative; left: 0; background: #fff;
        transition: all 0.3s;
    }
    .header .mobileMenu .toggle:before { top: -8px; }
    .header .mobileMenu .toggle:after { bottom: -8px; }
    .header .mobileMenu .nav { display: none; position: absolute; top: 55px; right: 0; background: #364356; border: 1px solid #45546a; width: 100%; min-width: 300px; z-index: 999; padding: 5px 10px; text-align: left;
        border-radius: 3px;
    }
    .header .mobileMenu .nav:before { content: ""; position: absolute; top: -28px; right: 12px; border: 14px solid; border-color: transparent transparent #45546a transparent; }
    .header .mobileMenu .nav:after { content: ""; position: absolute; top: -24px; right: 14px; border: 12px solid; border-color: transparent transparent #364356 transparent; }
    .header .mobileMenu.active .toggle span { background: none; }
    .header .mobileMenu.active .toggle:before { top: 4px;
        transform: rotate(45deg);
    }
    .header .mobileMenu.active .toggle:after { bottom: 4px;
        transform: rotate(-45deg);
    }
    .header .mobileMenu.active .nav { display: block; }

    .header .mobileMenu .nav li { margin: 5px 0; }
    .header .mobileMenu .nav li a { padding: 5px 0; display: block; }
    .header .mobileMenu .nav .sm-dt-hide { display: block; }
    .header .mobileMenu .nav .miniSearch { float: none; width: 100%; margin: 5px 0 10px; }



    .nav-main li > a { font-size: 16px; }

    .nav-service .child li a { font-size: 16px; }
    .nav-service .child li .dropDownMenu.colls2 { width: 660px; }

    .nav-footer li.parent { width: 50% !important; margin-bottom: 20px; }
    .nav-footer li.parent:nth-child(odd) { clear: both; }

    .informationTabs .tabs-button .item { height: 134px; }
    .informationTabs .tabs-text .field { float: none; width: 100%; }

    .contentPlace.basket .basket-items { width: 100%; float: none; }
    .contentPlace.basket .right-panel { width: 100%; float: none; }

    .contentPlace.contacts .mode { float: none; margin-top: 0; }
    .contentPlace.contacts .maps .map1 { float: none; width: 100%; margin-bottom: 20px; }
    .contentPlace.contacts .maps .map2 { float: none; width: 100%; }
    .contentPlace.contacts .field.input { float: left; width: 48%; margin-right: 2%; clear: none; }
    .contentPlace.contacts .field.input:nth-child(even) { margin-right: 0; width: 50%; }
    .contentPlace.contacts .field.textarea { float: none; width: 100%; clear: both; margin-top: 0; }

    .contentPlace.products .product-head .showCount { float: none; width: 100%; display: inline-block; margin-bottom: 20px; }
    .contentPlace.products .product-head .sort { float: none; width: 100%; display: inline-block; }
    .contentPlace.products .product-head .label { width: 110px; }
    .contentPlace.products .product-items.line { float: none; width: 100%; }
    .contentPlace.products .product-items.grid .item { width: 32%; }
    .contentPlace.products .right-panel.show { display: none; }

    .leftPanel .filterBlock.price .amount-range .left,
    .leftPanel .filterBlock.price .amount-range .right
    { float: none; width: 100%; }
    .leftPanel .filterBlock.price .amount-range .right { margin-top: 5px; }
    .leftPanel .filterBlock.price label { display: inline-block; width: 25px; }

    .go_to_top { right: 10px; bottom: 10px; }

    .compare-list .compare-group-title { left: -245px; width: 245px; top: 465px; }
    .compare-list .compare-group-title h3, .compare-list .compare-group-title h4 { padding-left: 10px; padding-right: 25px; }
    .compare-list .compare-group-title h3 span, .compare-list .compare-group-title h4 span { display: block; white-space: nowrap; overflow: hidden; }
    .compare-list .compare-group-title .prod-title { left: 230px; }
}

@media (max-width: 899px) {
    .leftPanel { width: 220px; }
    .rightPanel { width: calc(100% - 220px); }
    .nav-service .child li a:hover { width: 100%; }
    .nav-service .child li .dropDownMenu.colls2 { width: 570px; }
    .nav-service .child li .dropDownMenu.colls2 > li { width: 50%; margin: 5px 0; }
    .contentPlace.products .product-items.grid .item { width: 49%; }

    .contentPlace .basket-items .item { width: 99%; }
    .contentPlace.cabinet .user-settings,
    .contentPlace.cabinet .order-settings
    { min-width: 0; width: 100%; }
    .contentPlace.cabinet .row.col-2 .block { width: 100%; margin: 0 0 50px 0 !important; }
    .contentPlace.cabinet .order-settings .row.col-2 .block .fields-block,
    .contentPlace.cabinet .order-settings .row.col-2 .block.userInfo,
    .contentPlace.cabinet .order-settings .row.col-2 .block.userComment
    { width: 100%; margin: 0 0 50px 0 !important; }

    .compare-list .compare-group-title { left: -235px; width: 235px; top: 443px; }
    .compare-list .compare-group-title h3, .compare-list .compare-group-title h4 { padding-left: 10px; padding-right: 25px; }
    .compare-list .compare-group-title h3 span, .compare-list .compare-group-title h4 span { display: block; white-space: nowrap; overflow: hidden; }
    .compare-list .compare-group-title .prod-title { left: 220px; }

    .contentPlace.service .advantage .item .about { display: none; }


}


/* MOBILE RESOLUTION */
@media (max-width: 799px) {
    .mb-hide { display: none !important; }
    .mb-show { display: block !important; }

    .container { width: 96%; max-width: 100%; margin: 0 2%; }

    .header { text-align: center; }
    .header .container { width: 94%; }
    .header .nav-auth .miniLogo { display: block; }
    .header .nav-main { width: 60%; float: none; display: inline-block; }
    .header .miniBasket { top: 46px; left: 0; }
    .header .miniBasket .title:before, .header .miniBasket .title:after { left: 62%; }
    .header .mobileMenu { position: static; }
    .header .mobileMenu .nav { top: 87px;
        border-radius: 0;
    }

    .leftPanel { width: 100%; max-width: 100%; min-height: 0; float: none; }
    .rightPanel { width: 100%; min-width: 300px; }

    .leftSocial { padding-bottom: 50px; }

    .leftPanel .filter { margin: 0; border-top: 25px solid #f5f5f5; }
    .leftPanel .filter .container { width: 92%; }
    .leftPanel .filter .filterTitle { display: block; margin-bottom: 0; }
    .leftPanel .filter.active .filterTitle { margin-bottom: 20px; }
    .leftPanel .filter form { display: none; }
    .leftPanel .filter.active form { display: block; }

    .leftPanel .filterBlock .filter { border: 0; margin-bottom: 20px; }


    .nav-main li > a { font-size: 0; color: transparent; width: 35px; height: 35px; margin-left: -80px; }
    .nav-main li > a > span { font-size: 16px; color: #fff; }

    .nav-service .child li.parent:hover .dropDownMenu { display: none; }

    .nav-auth li.miniLogo { margin-right: 0; }

    .nav-footer li.parent:last-child { width: 100%; }


    .compare-list .compare-group-title .group { background: #364356; z-index: 999; right: 0;
        transition: all 0.3s;
    }
    .compare-list .compare-group-title .group:after { content: ""; width: 35px; height: 100%; background: url(../images/carousel-arrow.svg) no-repeat center center #364356; position: absolute; bottom: 0; right: -20px; z-index: 999; cursor: pointer;
        transform: rotate(180deg);
    }
    .compare-list .compare-group-title .group h3, .compare-list .compare-group-title .group h4 { padding-left: 15px; }
    .compare-list .compare-group-title .group.active { right: -93%;  }
    .compare-list .compare-group-title .group .prod-title {
        transition: all 0.3s;
    }
    .compare-list .compare-group-title .group.active .prod-title { opacity: 0; width: 0 !important; }
    .compare-list .compare-group-title .group.active:after {
        transform: rotate(0deg);
    }
    .compare-list .item .params .group p { padding-left: 30px; }
    .compare-list .compare-prod { z-index: 999; }
    .compare-list .item .prodMini { width: 90%; left: 8%; }



    .informationTabs .tabs-button .item { height: 152px; }
    .contentPlace.error-404 .error-cont { padding-top: 154px; margin-left: 32px;
        text-shadow: 2px 2px 3px rgb(245, 245, 245), -2px 2px 3px rgb(245, 245, 245), -2px -2px 3px rgb(245, 245, 245), 2px -2px 3px rgb(245, 245, 245);
    }
    .contentPlace.error-404 .about { margin-top: 40px; margin-left: 40px; color: #434343; background: rgba(245, 245, 245, 0.7); padding: 5px 10px; }

    .contentPlace.contacts .mode img { max-width: 100%; }
    .contentPlace.contacts .field.input, .contentPlace.contacts .field.input:nth-child(even) { float: none; width: 100%; margin: 0; }
    .contentPlace.contacts .field .btn { width: 100%; }

    .contentPlace.textPage .advantage .item { width: 50%; }
    .contentPlace.textPage .advantage .item:nth-child(odd) { clear: both; }

    .video { max-width: 100%; overflow: hidden; }

    .footer { padding-top: 10px; }
}

@media (max-width: 630px) {

    .pagination { float: none; text-align: center; }
    .pagination ul li.number, .pagination ul li.hidden { display: none; }
    .pagination ul li.number:nth-of-type(2),
    .pagination ul li.number:nth-of-type(3),
    .pagination ul li.number:nth-of-type(4) { display: block; }

    .last-news { padding: 10px 0; }
    .last-news .title { padding: 0 15px; }
    .last-news .item { width: 50%; float: left; border-bottom: none; padding: 5px 15px; }
    .last-news .item:nth-child(2) { border-right: 2px solid #c7dce3; margin-right: -1px; }
    .last-news .item:nth-child(3) { border-left: 2px solid #c7dce3; margin-left: -1px; }

    .contentPlace .basket-items .basket-header { display: none; }
    .contentPlace .basket-items .product { width: 100%; float: none; }
    .contentPlace .basket-items .item .image,
    .contentPlace .basket-items .item .num
    { width: 100%; margin-top: 0; }
    .contentPlace .basket-items .item .info { width: 100%; float: none; }
    .contentPlace .basket-items .price { width: 33%; }
    .contentPlace .basket-items .item .price { margin-top: 8px; }
    .contentPlace .basket-items .item .price:before { content: attr(data-label); display: block; color: #000; }
    .contentPlace .basket-items .countBlock { width: 33%; }
    .contentPlace .basket-items .sum { width: 33%; }
    .contentPlace .basket-items .item .sum { margin-top: 8px; }
    .contentPlace .basket-items .item .sum:before { content: attr(data-label); display: block; color: #000; }

    .contentPlace.products .product-head .sort select { width: 185px; }
    .contentPlace.products .product-head .sort .product-view { display: none; }
    .contentPlace.products .product-items.grid .item { width: 100%; }
    .contentPlace.product-page .main-info .left, .contentPlace.product-page .main-info .right { width: 100%; float: none; }
    .contentPlace.product-page .main-info .buttons .btn { width: 100%; }
    .contentPlace.product-page .product-about .tabs-button .item { width: 50%; }
    .contentPlace.product-page .product-about .specifications .row .label { width: 50%; }
    .contentPlace.product-page .product-about .specifications .row .value { width: 47%; float: right; }

    .compare-list .item .prodMini { width: 86%; left: 12%; }

    .contentPlace.cabinet table { min-width: 900px; }
    .contentPlace.cabinet .row .field.table { overflow-x: auto; }
    .contentPlace.cabinet .columns-3 .field { float: none; width: 100%; margin: 0 0 15px 0; }

    .check-status h4 { float: none; width: 100%; margin-bottom: 15px; }
    .check-status form { float: none; width: 100%; }
    .check-status .field { float: none; width: 100%; }

    .contentPlace.service .service-table span { font-size: 14px; }
    .contentPlace.service .service-table .cell-1 { width: 62%; }
    .contentPlace.service .service-table .cell-2 { width: 18%; text-align: center; }
    .contentPlace.service .service-table .cell-3 { width: 20%; text-align: center; }

    .nav-footer li.parent { width: 100% !important; }
    .nav-footer li.parent .child { display: none; }
    .nav-footer li.parent .child.particular { display: block; }
    .nav-footer li.parent.active .child { display: block; }

    .pop-up-close { top: 8px; right: 31px; }
    .pop-up .rules { width: 80%; }
}

@media (max-width: 480px) {
    .compare-list .item .prodMini { width: 92%; left: 7%; }
    .footer .mobileFoot { height: 85px; }
    .footer .miniContacts { float: none; display: inline-block; margin: 0 10px 10px; }
    .footer .nav-social { float: none; display: inline-block; margin: 0 10px; }
    .nav-footer { width: 90%; margin: 0 5%; }
}